header{
  & nav {
    padding-bottom: 50px;
    text-align: left;
  }
  & nav ul li {
    display: inline-block;
    margin-right: 20px;
  }

  & nav ul li a svg {
    height: 13px;
    width: 13px;
    transition: height .4s cubic-bezier(0.41, -0.32, 0.33, 1.71);
  }

  & nav ul li a {
    text-decoration: none;
    color: #52595f;
    font-weight: 700;
    padding: 1em;
    line-height: 1.5em;
    &:hover {
      color: $color-link-visited;
    }
    &:hover svg{
      fill: $color-link-visited;
      height: 8px;
    }
  }
}
